%h1
  = title

= render "shared/errors", :source => @status

= form_for @status do |f|

  = f.label :status
  = f.text_area :status

  = f.label :name
  = f.text_field :name

  = f.label :likes
  = f.number_field :likes

  = f. submit
